@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: #4472C4;
}

a:hover{
    text-decoration: underline;
}

p{
    margin: 0 0 1rem;
}

h1{
    margin: 0 0 1rem;
    font-size: 2.5rem;
    margin-bottom: .5rem;
}

h2{
    margin: 0 0 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.text-vert{
    color: rgb(48, 82, 51);
}

.text-darkgreen{
    color: darkgreen;
}

.text-uppercase{
    text-transform: uppercase;
}

.icon{
    margin-right: .5rem;
}

.CV-Conteneur{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left-column right-column right-column";
    width: 75em;
    margin: 6.25em auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.section{
    margin-bottom: 1.5rem;
}

/*Colonne de Gauche*/
.Colonne-Gauche{
    grid-area: left-column;
    padding: 3.125em;
    background-color: rgb(48, 82, 51);
    color: white;
}

.portrait{
    border-radius: 50%;
    max-width: 150px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
}

.skills{
    list-style-type: none;
    padding: 0;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin: 0 0 1rem;
}

/*Colonne de droite*/
.colonne-droite{
    grid-area: right-column;
    display: grid;
    grid-template-rows: 250px 1fr;
    grid-template-areas: 
        "header"
        "content";
    padding: 2em;
}

.header{
    grid-area: header;
    padding: 50px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infos{
    columns: 2;
    list-style-type: none;
    padding: 0;
}

.contenu{
    grid-area: content;
    padding: 50px;
}

.liste-experience{
    list-style-type: circle;
}
div#autres ul li{
    list-style-type: none;
}